body {
	background-color: #c4c4c4;
	margin: 0;
	padding: 0;
}
.container {
	margin: 0 auto;
	padding: 20px;
	max-width: 600px;
}

.new-note {
	background-color: #ffffff;
	padding: 10px 12px;
	border-radius: 2px;

	&__input {
		width: 100%;
		border: none;
		outline: none;
		font-size: 20px;
	}
}

.note-list {
	margin: 40px 0px;
}

.note {
	margin-bottom: 20px;
	background-color: #ffffff;
	padding: 10px 12px;
	border-radius: 2px;
}
